.container{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  width: 100%;
  // opacity: 20%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nowPlaying{
  font-size: 2rem;
  display: flex;
  justify-content: center;
}




.control{
  font-size: 3rem;
  background-color: transparent;
  border: none;
}



.control{
  margin: 0 1rem;
  cursor: pointer;
}